{% extends 'base.html' %}

{% block content %}
<div class="container my-4">
<h6>{{ title }}</h6>

<form action="" method="post" enctype="multipart/form-data">
  {% csrf_token %}
    <input type="hidden" name="next" value="{{ next }}"/>
  <div class="row my-4 row-md-cols-2 row-cols-1 align-items-end">
            <div class="form-error">{{ form.non_field_errors }}</div>
            {% for f in form %}
            <div class="col-lg-6 col-md-6 col-sm-12">
            <div class="form-error">{{ f.errors }}</div>
            <p><label class="form-label" for="{{ f.id_for_label }}">{{ f.label }}</label>{{ f }}</p>
            </div>
            {% endfor %}
            <div style="float: right;">
            <button type="submit" class="my-btn-btn">&#10004;</button>
            </div>
    </div>
</form>
</div>

{% endblock %}