<div class= "container">
    <div class="row">
        <div class="col">
            <h5>ИСХОДНОЕ ПОЛОЖЕНИЕ: </h5>
            Ложись на тренажер и упирайся
            ногами в платформу (не забудь
            поставить ступни на ширину
            бедер или немного шире
            и слегка согнуть ноги в коленях).
            Немного оттолкнув платформу
            от себя (но не выпрямляя ноги!),
            сними платформу с упоров.
        </div>
        <div class="col">
            <h5>ИСПОЛНЕНИЕ:  </h5>
            Прижимая
            поясницу к скамье, опусти
            платформу максимально близко
            кгруди. Для лучшего контроля
            поясницы позволь себе

            прогнуться в грудном отделе
            позвоночника, так ты передаешь
            все давления веса на тазовые
            кости. Без пауз в нижней точке
            вернись в исходное положение,
            с силой отголкнув платформу
            от себя. Ноги до конца не
            выпрямляй, это может привести
            ктравме коленей.
        </div>
    </div>
</div>