{% load workout_tags %}
{% load template_filters %}

<h6>Упражнения по целевой мышечной группе</h6>
<ul class="sidebar">
    {% for root in roots %}

    {% with node=tree|get_item:root %}

        {% if node.slug == muscle_selected.slug %}
        <li><a class="selected" href="{{ node.path }}">{{ node.name }}</a>
        {% else %}
        <li><a href="{{ node.path }}">{{ node.name }}</a>
        {% endif %}
        {% if node.children %}
        <button class="my-btn-sidebar" type="button" data-bs-toggle="collapse"
                data-bs-target="#collapse{{node.id}}" aria-expanded="false"
                aria-controls="collapse{{node.id}}"
        style="background: none; border: none; padding: 0">
        <img width="20" height="20"
             src="https://img.icons8.com/material/24/sort-down--v1.png"
             alt="sort-down--v1"/>
        </button>
        {% endif %}</li>

        <div class="collapse" id="collapse{{node.id}}">
            {% include 'workout/tree_menu.html' %}
        </div>

    {% endwith %}

    {% endfor %}

</ul>