{% load template_filters %}

<li>
    {% if node.children %}
        <ul class="sidebar-children">
            {% for child in node.children %}
                {% with node=tree|get_item:child template_name='workout/tree_menu.html' %}

                    {% if node.slug == muscle_selected.slug %}
                    <li><a class="selected" href="{{ node.path }}">{{ node.name }}</a>
                    {% else %}
                    <li><a href="{{ node.path }}">{{ node.name }}</a>
                    {% endif %}

                    {% if node.children %}
                    <button class="my-btn-sidebar" type="button" data-bs-toggle="collapse"
                            data-bs-target="#collapse{{node.id}}" aria-expanded="false"
                            aria-controls="collapse{{node.id}}"
                    style="background: none; border: none;">
                    <img width="20" height="20"
                        src="https://img.icons8.com/material/24/sort-down--v1.png"
                        alt="sort-down--v1"/>
                    </button>
                    {% endif %}</li>

                    <div class="collapse" id="collapse{{node.id}}">
                        {% include template_name %}
                    </div>

                {% endwith %}
          {% endfor %}
        </ul>
    {% endif %}
</li>