{% if page_obj.has_other_pages %}
<nav aria-label="Page navigation example">
    <ul class="pagination justify-content-center my-4 pagination-md">
        {% if page_obj.has_previous %}
        <li class="page-item">
            <a class="page-link" style="color: #000000" href="?page={{ page_obj.previous_page_number }}">&#8249;</a>
        </li>
        {% else %}
        <li class="page-item disabled">
            <span class="page-link" style="background: #f8f9fa">&#8249;</span>
        </li>
        {% endif %}

        {% for p in paginator.page_range %}
        {% if page_obj.number == p %}
        <li class="page-item page-link active" style="background: #9b598d; border-color: #9b598d;">{{ p }}</li>
        {% elif p >= page_obj.number|add:-2 and p <= page_obj.number|add:2 %}
        <li class="page-item">
            <a class="page-link" style="color: #000000" href="?page={{ p }}">{{ p }}</a>
        </li>
        {% endif %}
        {% endfor %}

        {% if page_obj.has_next %}
        <li class="page-item">
            <a class="page-link" style="color: #000000" href="?page={{ page_obj.next_page_number }}">&#8250;</a>
        </li>
        {% else %}
        <li class="page-item disabled">
            <span class="page-link" style="background: #f8f9fa">&#8250;</span>
        </li>
        {% endif %}
    </ul>
</nav>
{% endif %}