{% extends "base.html" %}
{% load i18n %}

{% block content %}
<div class="container my-4">
    <div class="row justify-content-center">
        <div class="col-4 my-4" style="border: 1px solid rgb(192,192,192);
                                       border-radius: 20px; min-height: 10rem;
                                       padding: 20px; background: #ffffff;">
            <p>{% translate 'We’ve emailed you instructions for setting your password, if an account exists with the email you entered. You should receive them shortly.' %}</p>

            <p>{% translate 'If you don’t receive an email, please make sure you’ve entered the address you registered with, and check your spam folder.' %}</p>
        </div>
    </div>
</div>
{% endblock %}
