{% extends 'base.html' %}

{% block content %}
<div class="container my-4">
    <div class="row justify-content-center">
        <div class="col-4 my-4" style="border: 1px solid rgb(192,192,192);
                                       border-radius: 20px; min-height: 10rem;
                                       padding: 20px; background: #ffffff;">
            <form method="post">
                {% csrf_token %}
                <div class="form-error">{{ form.non_field_errors }}</div>

                <div class="form-error">{{ form.email.errors }}</div>
                <div class="form-floating mb-3">
                    <input name="email" type="email" class="form-control" id="floatingInput" placeholder="E-mail">
                    <label for="floatingInput">{{form.email.label}}</label>
                </div>

                <div class="d-grid gap-2 col-6 mx-auto">
                    <button type="submit" class="btn btn-outline-primary">
                        Подтвердить
                    </button>
                </div>
            </form>

        </div>
    </div>
</div>
{% endblock %}

{% for f in form %}
    <p><label class="form-label" for="{{ f.id_for_label }}">{{ f.label }}</label>{{ f }}</p>
    <div class="form-error">{{ f.errors }}</div>
{% endfor %}