{% extends 'base.html' %}

{% block content %}
<div class="container my-4">
    <h6>{{ subtitle }}</h6>
    <div class="row my-4">
        <div class="col-xl-8 col-lg-6 col-md-8 col-sm-12">
            <form method="post">
                {% csrf_token %}
                <div class="form-error">{{ form.non_field_errors }}</div>

                <div class="row row-cols-2 g-4">
                    {% for f in form %}
                    <div class="col-auto">
                        <label class="form-label" for="{{ f.id_for_label }}">
                            {{ f.label }}
                        </label>
                        {{ f }}
                        <div class="form-error">{{ f.errors }}</div>
                    </div>
                    {% endfor %}
                <p><button class="btn btn-outline-primary" type="submit">Сохранить</button></p>
                </div>


            </form>
        </div>
    </div>
</div>
{% endblock %}